@model Eblog.Data.Model.makale

@{
    ViewBag.Title = "Makale Düzenle";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>

<style>
    .bootstrap-tagsinput {
        width: 100%;
    }
</style>

<div class="entry-content">
    <!-- Basic form -->

    @using (Html.BeginForm("Duzenle", "Makale", FormMethod.Post, new { enctype = "multipart/form-data", id = "MakaleForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

    <div class="page-form">
        <div class="content">
            @Html.HiddenFor(x => x.ID)
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <form role="form">
                <div class="form-group col-lg-6">
                    <label for="text">Makale Başlık</label>
                    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control border-input", id = "makalebaslik", placeholder = "Makale Başlık" })
                </div>
                <div class="form-group col-md-6">
                    <label for="rol">Kategori</label>
                    @Html.DropDownListFor(model => model.KategoriID, new SelectList(ViewBag.Kategori, "ID", "KategoriAdi"), ("Seçiniz"), new { @class = "form-control border-input", id = "KategoriID" })
                </div>
                <br />
                <div class="form-group">
                    <label for="exampleInputPassword1">Vitrin Resmi</label>
                    <input type="file" name="vitrinResmi" accept="image/*" class="form-control" />
                    <h6 style="color:red">Dosya boyutu 2 MB'yi geçmemelidir.</h6>
                    <img src="@Model.Foto" style="width:50px" />
                </div>
                <br />

                <div class="form-group">
                    <label for="exampleInputPassword1">İçerik</label>
                    @Html.TextArea("Icerik")
                    <script type="text/javascript">
                        var editor = CKEDITOR.instances['Icerik'];
                        if (editor) {
                            editor.destroy(true);
                        }
                        CKEDITOR.replace('Icerik', { enterMode: CKEDITOR.ENTER_BR, });
                    </script>
                </div>

                @*<div class="form-group">
                    <label for="exampleInputPassword1">Etiket</label>
                    @Html.TextBoxFor(x => x.EtiketAd, new { @class = "form-control", data_role = "tagsinput" })
                </div>*@

                @if (Convert.ToInt32(Session["Rol"]) == 1 || Convert.ToInt32(Session["Rol"]) == 2)
            {
                <div class="checkbox col-md-12">
                    @Html.CheckBoxFor(x => x.Onay, new { @checked = "checked", id = "makaleOnay" }) Onay ?
                </div>
        }
                <br />
                <button type="submit" class="btn btn-default" id="MakaleDuzenle">Kaydet</button>

            </form>
        </div>
    </div>
        
    }
</div>
<script>
    $(document).ready(function () {
        $(document).on("click", "#MakaleDuzenle", function () {
            $('#MakaleForm').ajaxForm({
                success: function (response) {
                    if (response.Success) {
                        bootbox.alert(response.Message, function () {
                            location.href = "/Home/Index";
                        });

                    }
                    else {
                        bootbox.alert(response.Message, function () {
                            // geridöndüğünde bir şey yapılması isteniyorsa buraya yazılır
                            location.href = "/Home/Index";
                        });
                    }
                }
            })
        })
    })
</script>
